@use "../../styles/styles" as styles

.productCard
  width: 400px
  border-radius: 15px

.cardMedia
  height: 200px

.cardContent
  padding: 0

.cardList
  display: flex
  align-items: center
  padding: 15px

.productTitle
  background-color: transparent
  border: none
  font-family: styles.$montserrat
  font-weight: 600
  font-size: 14px

@media screen and (max-width: 575px)
  .productCard
    width: 100% !important

@media screen and (min-width: 600px) and (max-width: 899px)
  .productCard
    width: 27.5vw !important