.navContentContainer
  max-width: 1280px
  display: flex
  justify-content: space-between
  align-items: center
  margin: 0 auto

.linksContainer
  gap: 20px

.navElem
  color: white
  font-size: 16px
  font-weight: bold
  text-decoration: none
  transition: all .2s ease-out

  &:hover
    opacity: 0.875
    text-decoration: underline

.drawerContainer
  display: flex
  flex-direction: column
  padding-left: 2.5vw
  padding-top: 5vh

//@media screen and (max-width: 575px)
//  .logo
//    position: absolute
//    left: 72.5vw !important
//    width: 17.5vw
//    height: 17.5vw
//  .navElem
//    font-size: 2vw !important