@use "../../styles/styles" as styles

.navContentContainer
  max-width: 1280px
  display: flex
  justify-content: space-between
  align-items: center
  margin: 0 auto

.linksContainer
  gap: 20px

.navElem
  color: white
  font-size: 16px
  font-weight: bold
  text-decoration: none
  transition: all .2s ease-out

  &:hover
    opacity: 0.875
    text-decoration: underline

.drawerContainer
  display: flex
  flex-direction: column
  gap: 15px
  padding-left: 20px
  padding-top: 50px

.drawerElem
  color: black
  text-decoration: none
  font-family: styles.$montserrat
  font-weight: 600
  font-size: 16px
  transition: all .2s ease-out

  &:hover
    opacity: 0.75
    text-decoration: underline

@media screen and (max-width: 600px)
  .navContentContainer
    padding-inline: 20px