@use "../../styles/styles" as styles

.footer
  width: 100%
  position: absolute
  bottom: 0
  padding: 20px 0
  border: 1px solid black
  border-inline: none

.contentContainer
  max-width: 1280px
  margin: 0 auto
  padding-inline: 20px

.companyTitle
  font-family: styles.$montserrat
  font-weight: 600
  font-size: 14px